body {
  background-color: #141414;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  #background-repeat: repeat;
  #background-size: cover;
  -moz-background-size: cover;}
}

a
h1,
h2 {
  color: #666;
  font-size: 1.6em;
  font-weight: 600;
  border-color: transparent;
  letter-spacing:normal;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

h1 {
  color: #000;
  font-size: 1.25rem;
  margin-top: -10px;
  margin-bottom: 0;
}

.bio h2 {
  color: #333;
  font-weight: 700;
  letter-spacing:0.1rem;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 0;
}

.wrapper {
  display: block;
  text-align: center;
  font-family: 'Inconsolata', Arial, Helvetica;
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  #letter-spacing:1px;
  max-width: 600px;
  margin: 0 auto;
}

.image-cropper {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 80px auto 30px;
}


.links {
  margin: 0 auto;
  padding: 0 40px;
}

.links .link {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  color: #fff;
  letter-spacing:0.1rem;
  #border: 3px solid #222;
  background-color: #222;
  text-align: center;
  text-decoration: none;
  padding: 18px 0;
}

.links .link:hover {
  color: #dedede;
  background-color: #333;
}

.links-d {
  margin:50px auto;
  padding: 0 40px;
}

.links-d .link {
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;
  letter-spacing:0.1rem;
  #border: 3px solid #222;
  background-color: #222;
  text-align: center;
  text-decoration: none;
  padding: 18px 0;
  box-shadow: 0 20px 0 -10px rgba(0, 0, 0,0.15);
}

.links-d .link:hover {
  color: #fff;
  background-color: #222;
  box-shadow: 0 20px 0 -10px rgba(29, 191, 114,0.9);
}
  
.shake {
	animation: shake-animation 4.72s ease infinite;
	transform-origin: 50% 50%;
  }

  @keyframes shake-animation {
	 0% { transform:translate(0,0) }
	1.78571% { transform:translate(5px,0) }
	3.57143% { transform:translate(0,0) }
	5.35714% { transform:translate(5px,0) }
	7.14286% { transform:translate(0,0) }
	8.92857% { transform:translate(5px,0) }
	10.71429% { transform:translate(0,0) }
	100% { transform:translate(0,0) }
  }


